@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alegreya";
  src: url('../public/fonts/AlegreyaSans-Regular.ttf');
}

@font-face {
  font-family: "Offside";
  src: url('../public/fonts/Offside-Regular.ttf');
}